body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

body .leaflet-popup-content img {
  max-width:100%;
}

.info {
  box-shadow: 0 1px 2px rgba(0,0,0,0.20);
  z-index: 500;
}
